body {
    min-height: 100vh;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-top: 20px; 
}

button {
    padding: 10px 20px;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: auto;
    height: auto;
    flex-shrink: 0; 
}

button:hover {
    background-color: rgb(240, 106, 106); 
}

#clear {
    padding: 10px 20px;
    background-color: rgb(130, 198, 220);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: auto;
    height: auto;
    flex-shrink: 0; 
    margin-left: 15px ;
}

#clear:hover {
    background-color: rgb(72, 180, 216); 
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 400px; 
    height: 400px; 
    gap: 1px; 
    margin-top: 20px;
}


.cell {
    background-color: white;
    outline: 1px solid rgb(180, 180, 180);
    width: 100%;
    height: 100%;
}

.modal {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center; 
    align-items: center; 
    font-family: sans-serif;
}

.modal-content {
    background-color: white; 
    padding: 20px; 
    border-radius: 5px; 
    text-align: center; 
    width: 300px; 
    
}

.modal input {
    margin: 10px 0; 
    padding: 10px; 
    width: calc(100% - 22px); 
}

.modal button {
    padding: 10px 20px; 
    border: none; 
    background-color: lightcoral; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer; 
}

.modal button:hover {
    background-color: rgb(240, 106, 106); 
}